/* Section => Slider  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#bigcontent {
  background: url(../image/base.jpg) no-repeat center center/ cover;
}
#container {
  max-width: 1440px;
  margin: auto;
}
.content {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: space-between;
}

.content-image {
  display: flex;
  align-items: center;
}

.content .content-image .image2 {
  position: relative;
  width: 305px;
  height: 370px;
  z-index: 1;
}
.content .content-image .image3 {
  width: 345px;
  height: 310px;
  z-index: 2;
  margin-top: 1vw;
  margin-left: 8vw;
  position: absolute;
}

.content .content-info {
  display: flex;
  align-items: center;
}

.content .content-info .content-text h2 {
  font-size: 55px;
  text-align: right;
  color: #f17228;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  font-family: "Poppins";
}

.content .content-info .content-text p {
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  margin-top: 10px;
  font-family: "Comfortaa";
}
hr {
  border: 1px solid #f17228;
}
/* more */

.content-info .bullet .arrow {
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(251, 197, 166, 0.2);
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 10px;
  font-weight: 900;
  color: #f17228;
}

/* pagination*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination span {
  /* width: 21px;
  height: 8px; */
  width: 10px;
  height: 8px;
  margin: 5px;
  background: #fbc5a6;
  border-radius: 5px;
  margin-bottom: 36px;
  transition: width 2s;
}
.pagination span:hover {
  width: 21px;
  height: 8px;
  background: #f17228;
  transition: width 2s;
}

/* Category Label => InfoPanel */

#InfoPanel {
  padding: 50px 0;
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 31.19%
  );
}

#InfoPanel .content-Panel {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 45px 100px;
}

#InfoPanel .content-Panel .panel {
  display: flex;
}

#InfoPanel .content-Panel .panel .image6 {
  background: #ffd7bf;
  padding: 15px;
  border-radius: 10px;
  margin-right: 10px;
}
#InfoPanel .content-Panel .panel .panel-text {
  align-self: center;
}
#InfoPanel .content-Panel .panel .panel-text h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
#InfoPanel .content-Panel .panel .panel-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
