.search1 {
  background: #ffffff;
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 25px 0;
  padding: 10px;
}
.minHeight1 {
  min-height: calc(100vh - 350px - 57px);
}
.search-box1 {
  width: 180px;
  height: 40px;
}
.search-box1 .search1 {
  border: 1px solid black;
}
