@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap");
/* Sale food */
.content-Food {
  width: 100%;
  height: auto;
}
.content-Food .saleFood {
  display: flex;
  justify-content: space-between;
}
.content-Food .saleFood h2 {
  border-left: 10px solid #f17228;
  align-self: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f17228;
  width: 180px;
  height: 48px;
  padding: 15px 0;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.Button label {
  font-size: 25px;
  margin-left: 15px;
}
#btn {
  background: none;
  color: white;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
#btn:active {
  background-color: red;
}
/* cardFood */
.cardFood {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
  background: #fefefe;
}

.card {
  height: 304px;
  width: 282px;
  border-radius: 20px;
  padding: 15px 15px;
  margin-right: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#cardPic img:hover {
  opacity: 0.5;
}
#cardPic img {
  height: 208px;
  width: 252px;
  border-radius: 8px;
  opacity: 1;
}
#cardPic p {
  position: absolute;
  display: flex;
  margin-left: 187px;
  background: #f17228;
  padding: 12px 18px;
  color: white;
  border-radius: 0px 8px 0px 20px;
}
.cardCost {
  padding: 0 15px;
}
.cardCost h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
.cardCost p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 200;
}
.c1 {
  color: #f17228;
}
.line {
  text-decoration-line: line-through;
}

@media (max-width: 1200px) {
  .Button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    width: 180px;
    height: 48px;
    padding: 15px 0;
    color: none;
    box-shadow: none;
    border-radius: none;
  }
  .Button label {
    font-size: 25px;
    margin-left: 15px;
    color: #f17228;
    font-weight: 900;
  }
  #btn {
    display: none;
  }

  .cardFood {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    background: #fefefe;
  }

  /* card */
  .card {
    width: 160px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }

  #cardPic img {
    width: 140px;
    height: 132px;
    border-radius: 8px;
  }
  #cardPic p {
    position: absolute;
    display: flex;
    margin-left: 75px;
    background: #f17228;
    padding: 12px 18px;
    color: white;
    border-radius: 0px 8px 0px 20px;
  }

  .cardCost {
    padding: 0 10px;
  }
  .cardCost h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
  }
  .cardCost p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .Button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    width: 180px;
    height: 48px;
    padding: 15px 0;
    color: none;
    box-shadow: none;
    border-radius: none;
  }
  .Button label {
    font-size: 25px;
    margin-left: 15px;
    color: #f17228;
    font-weight: 900;
  }
  #btn {
    display: none;
  }
  .cardFood {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background: #fefefe;
  }
  /* card */
  .card {
    width: 156px;
    height: 190px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }

  #cardPic img {
    width: 136px;
    height: 120px;
    border-radius: 7px;
  }
  #cardPic p {
    position: absolute;
    display: flex;
    margin-left: 88px;
    background: #f17228;
    padding: 7px 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: white;
    border-radius: 0px 8px 0px 20px;
  }
  .cardCost {
    padding: 0 10px;
  }
  .cardCost h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    margin-top: 10px;
  }
  .cardCost p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
  }
  .card:nth-child(3) {
    display: none;
  }
  .card:nth-child(4) {
    display: none;
  }
}
