.modal-body {
  padding: 20px;
}
.btnbut {
  background: #f17228;
  color: #ffffff;
  border: none;
}
.inputBg {
  background: #fff1e9;
  border: none;
}
.btnbg {
  width: 100%;
  background: #f17228;
  border: none;
  color: white;
}
.bg3 {
  background: #f7f8f7;
  border-radius: 10px;
}
.bor4 {
  border: 1px solid gray;
  background-color: gray;
}
.text1 h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.text1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #f17228;
}
.texth5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.textP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #767676;
}
.btn2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

/* Offcanvas  new css */

.offcanvas-body {
  padding: 20px !important;
}

.flexHeiht {
  height: 50vh;
}
.close {
  margin-right: 10px;
}
.center {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: #b6b4b4;
}
