* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.c1 {
  color: #f17228;
}
.c2 {
  color: white;
}
hr {
  border: 1px solid #f17228;
  background-color: #f17228;
}

.navbar-nav a:hover,
a.current {
  color: #f17228 !important;
  font-weight: 700;
}
